<!DOCTYPE html>
<html lang="en">
  <head>
  
  </head>
  <body>
    <p>
      FIRST NAME: <%= `${y}` %><br />
      LAST NAME: <%= `${z}` %><br/>
      ID: <%= `${id}` %>
    </p>
    <form action="/patient/<%= `${id}` %>" method="POST">
    
      <div>Therapist Signature <img src= <%= `${x}` %> />
      <hr />
   
     
      <div>Patient Signature <img src= <%= `${g}` %> />
      </div>

   <hr/>
    </form>

    
   
    
  </body>
</html>
